-
    request:
        method: PATCH
        url: 'https://api-qualif.onestock-retail.com/multi/line_items'
        headers:
            Content-Type: null
            Auth-User: test-user
            Auth-Password: test-password
        body: '{"site_id":"s100","ids":["1234"],"bodies":[{"line_item":{"payment":{"price":99.99,"previous_price":"10.99","discount_absolute":"19.99","discount_percentage":"20"},"delivery":{"tracking_code":"tracking001","carrier":{"name":"AMCE shipping","option":"CODE_ACME"}},"from":"created","to":"removed","information":{"foo":"bar"}}}]}'
    response:
        status:
            code: '200'
            message: OK
        headers:
            Content-Type: application/json
        body: '{"id":"1234","code":"1234"}'

-
    request:
        method: POST
        url: 'https://api-qualif.onestock-retail.com/orders'
        headers:
            Content-Type: null
            Auth-User: test-user
            Auth-Password: test-password
        body: '{"site_id":"s100","order":{"id":"2222","types":["ffs"],"ruleset_id":"test","sales_channel":"test_uk","delivery":{"destination":{"address":{"lines":["test address 1","door 3"],"city":"Paris","zip_code":"123456","regions":{"country":{"code":"FR"}},"contact":{"title":"Mr","first_name":"Joe","last_name":"Bloggs","phone_number":"7989987998","email":"joa.bloggs@inviqa.com"}},"endpoint_id":""}},"payment":{"currency":"EUR","price":100,"shipping_price":7,"shipping_currency":"GBP","address":{"lines":["test address 1","door 3"],"city":"Paris","zip_code":"123456","regions":{"country":{"code":"FR"}},"contact":{"title":"Mr","first_name":"Joe","last_name":"Bloggs","phone_number":"7989987998","email":"joa.bloggs@inviqa.com"}}},"customer":{"title":"Mr","first_name":"Joe","last_name":"Bloggs","phone_number":"7989987998","email":"joa.bloggs@inviqa.com"},"line_items":[{"id":"12","item_id":"1100722044","payment":{"price":"100"}}]}}'
    response:
        status:
            code: '200'
            message: OK
        headers:
            Content-Type: application/json
        body: '{"code":"1234","id":"1234"}'
-
    request:
        method: POST
        url: 'https://api-qualif.onestock-retail.com/parcels'
        headers:
            Content-Type: null
            Auth-User: test-user
            Auth-Password: test-password
        body: '{"site_id":"s100","parcel":{"id":"1234","date":201901090000,"to":"shipped","order_id":"1234","line_item_ids":[1,2,3,4],"tracking_code":"1234"}}'
    response:
        status:
            code: '201'
            message: 'OK'
        headers:
            Content-Type: application/json
        body: '{"id":"5d3b09337f6566000130baaa"}'

-
    request:
        method: PATCH
        url: 'https://api-qualif.onestock-retail.com/shortpick_line_items'
        headers:
            Content-Type: null
            Auth-User: test-user
            Auth-Password: test-password
        body: '{"order_id":"1234","line_items":[{"date":1604941750,"id":"1","item_id":"1","state":"short_pick","origin":"warehouse_code"}]}'
    response:
        status:
            code: '200'
            message: OK
        headers:
            Content-Type: application/json
        body: '{"id":"1234"}'
-
    request:
        method: PATCH
        url: 'https://api-qualif.onestock-retail.com/shortpick_line_items'
        headers:
            Content-Type: ''
            Auth-User: test-user
            Auth-Password: test-password
        body: '{"order_id":"1234","line_items":[{"date":1604941750,"id":"1","item_id":"1","state":"short_pick","origin":"warehouse_code"}]}'
    response:
        status:
            code: '404'
            message: 'Not Found'
        headers:
            Content-Type: 'text/plain; charset=utf-8'
        body: "\n  ____________/\\\\\\________/\\\\\\\\\\\\\\_______________/\\\\\\____\n   __________/\\\\\\\\\\______/\\\\\\/////\\\\\\___________/\\\\\\\\\\____\n    ________/\\\\\\/\\\\\\_____/\\\\\\____\\//\\\\\\________/\\\\\\/\\\\\\____\n     ______/\\\\\\/\\/\\\\\\____\\/\\\\\\_____\\/\\\\\\______/\\\\\\/\\/\\\\\\____\n      ____/\\\\\\/__\\/\\\\\\____\\/\\\\\\_____\\/\\\\\\____/\\\\\\/__\\/\\\\\\____\n       __/\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\_\\/\\\\\\_____\\/\\\\\\__/\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\_\n        _\\///////////\\\\\\//__\\//\\\\\\____/\\\\\\__\\///////////\\\\\\//__\n         ___________\\/\\\\\\_____\\///\\\\\\\\\\\\\\/_____________\\/\\\\\\____\n          ___________\\///________\\///////_______________\\///_____\n\n"
        curl_info:
            url: 'https://api-qualif.onestock-retail.com/shortpick_line_items'
            content_type: 'text/plain; charset=utf-8'
            http_code: 404
            header_size: 139
            request_size: 328
            filetime: -1
            ssl_verify_result: 0
            redirect_count: 0
            total_time: 0.50595
            namelookup_time: 0.111381
            connect_time: 0.327644
            pretransfer_time: 0.428404
            size_upload: !!float 124
            size_download: !!float 560
            speed_download: !!float 1108
            speed_upload: !!float 245
            download_content_length: !!float 560
            upload_content_length: !!float 124
            starttransfer_time: 0.505887
            redirect_time: !!float 0
            redirect_url: ''
            primary_ip: 51.38.202.101
            certinfo: {  }
            primary_port: 443
            local_ip: 192.168.1.245
            local_port: 37164
            protocol: 2
            ssl_verifyresult: 0
            scheme: HTTPS
            appconnect_time_us: 428227
            connect_time_us: 327644
            namelookup_time_us: 111381
            pretransfer_time_us: 428404
            redirect_time_us: 0
            starttransfer_time_us: 505887
            total_time_us: 505950
-
    request:
        method: POST
        url: 'https://api-qualif.onestock-retail.com/parcels'
        headers:
            Content-Type: ''
            Custom-Username-Header: test-user
            Custom-Password-Header: test-password
        body: '{"site_id":"s100","parcel":{"id":"1234","date":201901090000,"to":"shipped","order_id":"1234","line_item_ids":[1,2,3,4],"tracking_code":"1234"}}'
    response:
        status:
            code: '400'
            message: 'Bad Request'
        headers:
            Content-Type: application/json
        body: '{"error":"auth_error","message":"missing token parameter"}'
        curl_info:
            url: 'https://api-qualif.onestock-retail.com/parcels'
            content_type: application/json
            http_code: 400
            header_size: 169
            request_size: 355
            filetime: -1
            ssl_verify_result: 0
            redirect_count: 0
            total_time: 0.566846
            namelookup_time: 0.381316
            connect_time: 0.419544
            pretransfer_time: 0.513952
            size_upload: !!float 143
            size_download: !!float 58
            speed_download: !!float 102
            speed_upload: !!float 252
            download_content_length: !!float 58
            upload_content_length: !!float 143
            starttransfer_time: 0.566796
            redirect_time: !!float 0
            redirect_url: ''
            primary_ip: 51.38.202.101
            certinfo: {  }
            primary_port: 443
            local_ip: 192.168.1.245
            local_port: 43842
            protocol: 2
            ssl_verifyresult: 0
            scheme: HTTPS
            appconnect_time_us: 513824
            connect_time_us: 419544
            namelookup_time_us: 381316
            pretransfer_time_us: 513952
            redirect_time_us: 0
            starttransfer_time_us: 566796
            total_time_us: 566846
