-
    request:
        method: PATCH
        url: 'https://api-qualif.onestock-retail.com/multi/line_items'
        headers:
            Content-Type: null
            Auth-User: test-user
            Auth-Password: test-password
        body: '{"site_id":"s100","ids":["1234"],"bodies":[{"line_item":{"payment":{"price":99.99,"previous_price":"10.99","discount_absolute":"19.99","discount_percentage":"20"},"delivery":{"tracking_code":"tracking001","carrier":{"name":"AMCE shipping","option":"CODE_ACME"}},"from":"created","to":"removed","information":{"foo":"bar"}}}]}'
    response:
        status:
            code: '200'
            message: OK
        headers:
            Content-Type: application/json
        body: '{"id":"1234","code":"1234"}'

-
    request:
        method: POST
        url: 'https://api-qualif.onestock-retail.com/orders'
        headers:
            Content-Type: null
            Auth-User: test-user
            Auth-Password: test-password
        body: '{"site_id":"s100","order":{"id":"2222","types":["ffs"],"ruleset_id":"test","sales_channel":"test_uk","delivery":{"destination":{"address":{"lines":["test address 1","door 3"],"city":"Paris","zip_code":"123456","regions":{"country":{"code":"FR"}},"contact":{"title":"Mr","first_name":"Joe","last_name":"Bloggs","phone_number":"7989987998","email":"joa.bloggs@inviqa.com"}},"endpoint_id":""}},"payment":{"currency":"EUR","price":100,"shipping_price":7,"shipping_currency":"GBP","address":{"lines":["test address 1","door 3"],"city":"Paris","zip_code":"123456","regions":{"country":{"code":"FR"}},"contact":{"title":"Mr","first_name":"Joe","last_name":"Bloggs","phone_number":"7989987998","email":"joa.bloggs@inviqa.com"}}},"customer":{"title":"Mr","first_name":"Joe","last_name":"Bloggs","phone_number":"7989987998","email":"joa.bloggs@inviqa.com"},"line_items":[{"id":"12","item_id":"1100722044","payment":{"price":"100","previous_price":null,"discount_absolute":null,"discount_percentage":null},"delivery":null}]}}'
    response:
        status:
            code: '200'
            message: OK
        headers:
            Content-Type: application/json
        body: '{"code":"1234","id":"1234"}'
-
    request:
        method: POST
        url: 'https://api-qualif.onestock-retail.com/parcels'
        headers:
            Content-Type: null
            Auth-User: test-user
            Auth-Password: test-password
        body: '{"site_id":"s100","parcel":{"id":"1234","date":201901090000,"to":"shipped","order_id":"1234","line_item_ids":[1,2,3,4],"tracking_code":"1234"}}'
    response:
        status:
            code: '201'
            message: 'OK'
        headers:
            Content-Type: application/json
        body: '{"id":"5d3b09337f6566000130baaa"}'
